---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
    <div id="main" role="main" class="">
    <updates>
    <h1><span class="covid-alert">🔔</span>&nbsp;COVID-19 Updates</h1>
    <subtitle><span class="cuUpdated"></span><span class="cuSource">&nbsp;<a href="https://worldometers.info/coronavirus" target="_blank" title="worldometers.info/coronavirus">[source]</a></span></subtitle>
    <ul class="CovidUpdates">
        <li><span class="cuLabel">Total cases: </span><span class="cuCases"></span></li>
        <li><span class="cuLabel">Dead: </span><span class="cuDead"></span></li>
        <li><span class="cuLabel">Recovered: </span><span class="cuRecovered"></span></li>
    </ul>
    </updates>
    <div class="loader">FETCHING DATA &nbsp; <i class="fas fa-cog fa-spin"></i></div>
    <div class="toggleLang"><span class="lang">KISWAHILI</span></div>
    <section class="cuInstructions">
    <h2 class="english">What you need to do:</h2>
    <h2 class="swahili">Unachotakiwa kufanya:</h2>
    <h3 class="h-indent english"><span class="emoji">🧼</span>Wash your hands frequently</h3>
    <h3 class="h-indent swahili"><span class="emoji">🧼</span>Nawa mikono mara kwa mara</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">👄</span>Avoid touching your eyes, mouth and nose</h3>
    <h3 class="h-indent swahili"><span class="emoji">👄</span>Usishike macho, mdomo na pua</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">💪</span>Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze</h3>
    <h3 class="h-indent swahili"><span class="emoji">💪</span>Ziba mdomo wako na pua kwa mkono uliokunjwa au tishu unapokohoa au kupiga chafya</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🚷</span>Avoid crowded places</h3>
    <h3 class="h-indent swahili"><span class="emoji">🚷</span>Kaa mbali na sehemu zenye mikusanyiko</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🏠</span>Stay at home if you feel unwell - even with a slight fever and cough</h3>
    <h3 class="h-indent swahili"><span class="emoji">🏠</span>Kaa nyumbani kama haujisikii vizuri - hata kama una homa na kikohozi kiasi</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🤒</span>If you have a fever, cough and difficulty breathing, seek medical care early - but call by phone first</h3>
    <h3 class="h-indent swahili"><span class="emoji">🤒</span>Kama unapata homa, unakohoa na unapumua kwa shida, wahi mapema kupata huduma ya afya - lakini piga kwanza simu</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">ℹ️</span>Stay aware of the latest information from WHO and your local authorities</h3>
    <h3 class="h-indent swahili"><span class="emoji">ℹ️</span>Fuatilia taarifa mpya zinazotolewa na Shirika la Afya Duniani (WHO) na mamlaka husika karibu nawe</h3>
    <p class="swahili"></p>
    </section>
    </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>
    <script>
        var cases = "https://thedextazlab.herokuapp.com/users/1/web_requests/79/covid19.json";
        function fetchDATA (){
            $('updates').removeClass("show");
            $('.loader').removeClass("loaded");
            $.getJSON(cases, function(data) {
                    $('.cuCases').html(data.items[0].cases);
                    $('.cuDead').html(data.items[0].dead);
                    $('.cuRecovered').html(data.items[0].recovered);
                    $('.cuUpdated').html(data.items[0].updated);
                    $('.loader').addClass("loaded");
                    $('updates').show();
                    $('updates').addClass("show");

            });
        }
        function switchLang(bool) {
            if (bool == true) {
                $('.CovidUpdates > li:nth-child(1) .cuLabel').html("JUMLA YA WAGONJWA:");
                $('.CovidUpdates > li:nth-child(2) .cuLabel').html("WALIOKUFA:");
                $('.CovidUpdates > li:nth-child(3) .cuLabel').html("WALIOPONA:");
            } else {
                $('.CovidUpdates > li:nth-child(1) .cuLabel').html("TOTAL CASES:");
                $('.CovidUpdates > li:nth-child(2) .cuLabel').html("DEAD:");
                $('.CovidUpdates > li:nth-child(3) .cuLabel').html("RECOVERED:");
            }
        }
        $(document).ready(function(){
            fetchDATA();
            $('.lang').click(function(){
                if($('.lang').html() == "KISWAHILI"){
                    $('.swahili').show();
                    $('.english').hide();
                    $('.lang').html("ENGLISH");
                    switchLang(true);
                } else {
                    $('.swahili').hide();
                    $('.english').show();
                    $('.lang').html("KISWAHILI");
                    switchLang(false);                   
                }

            });
        });
    </script>
    {% include scripts.html %}

  </body>
</html>
