---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" integrity="sha256-YjcCvXkdRVOucibC9I4mBS41lXPrWfqY2BnpskhZPnw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" crossorigin="anonymous" />
    
  <script>
      if(Cookies.get('darkmode') == "true") {
                    $('.darkswitch-toggle').removeClass("fa-moon").addClass("fa-sun");
                    $('body, #footer').addClass("darkmode");
            } else {
                    $('.darkswitch-toggle').removeClass("fa-sun").addClass("fa-moon");
        }
  </script>
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}
    <span class="toggles">
        <span class="darkswitch">
            <i class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-moon fa-stack-1x fa-inverse darkswitch-toggle"></i></i>
        </span>
        <span class="lang">
            <span class="flag-icon-background flag-icon-tz flag-icon-squared"></span>
         </span>
         <span class="tableSwitch">
            <i class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas set fa-th-list fa-stack-1x fa-inverse"></i></i>
        </span>
        <span class="refresher">
            <i class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-sync fa-stack-1x fa-inverse spinner"></i></i>
        </span>
    </span>
    <div class="initial-content">
    <div id="main" role="main" class="">
    <updates>
    <h1><span class="cuTitle">COVID-19 Updates</span></h1>
    <subtitle><span class="cuUpdated"></span><span class="cuSource">&nbsp;<a href="https://worldometers.info/coronavirus" target="_blank" title="worldometers.info/coronavirus">[source]</a></span></subtitle>
    <ul class="CovidUpdates">
        <li><span class="cuLabel">Total cases: </span><span class="cuCases"></span></li>
        <li><span class="cuLabel">Dead: </span><span class="cuDead"></span></li>
        <li><span class="cuLabel">Recovered: </span><span class="cuRecovered"></span></li>
    </ul>
    <note class="english"><strong>NOTE: </strong>These are totals of all COVID-19 cases globally</note>
    <note class="swahili"><strong>MUHIMU: </strong>Hii ni jumla ya wagonjwa wote wa COVID-19 duniani</note>
    </updates>
    <div class="loader"><span>FETCHING DATA</span> &nbsp; <i class="fas fa-cog fa-spin"></i></div>
    <section class="cuInstructions">
    <h1 class="english">What you need to do:</h1>
    <h1 class="swahili">Unachotakiwa kufanya:</h1>
    <h3 class="h-indent english"><span class="emoji">🧼</span>Wash your hands frequently</h3>
    <h3 class="h-indent swahili"><span class="emoji">🧼</span>Nawa mikono mara kwa mara</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">👄</span>Avoid touching your eyes, mouth and nose</h3>
    <h3 class="h-indent swahili"><span class="emoji">👄</span>Usishike macho, mdomo na pua</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">💪</span>Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze</h3>
    <h3 class="h-indent swahili"><span class="emoji">💪</span>Funika mdomo wako na pua kwa kuzuia kwenye mkunjo wa wa ndani wa kiwiko chako au kwa kutumia tishu kila unapokohoa au kupiga chafya</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🚷</span>Avoid crowded places</h3>
    <h3 class="h-indent swahili"><span class="emoji">🚷</span>Kaa mbali na sehemu zenye mikusanyiko</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🏠</span>Stay at home if you feel unwell - even with a slight fever and cough</h3>
    <h3 class="h-indent swahili"><span class="emoji">🏠</span>Kaa nyumbani kama haujisikii vizuri - hata kama una homa na kikohozi kiasi</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">🤒</span>If you have a fever, cough and difficulty breathing, seek medical care early - but call by phone first</h3>
    <h3 class="h-indent swahili"><span class="emoji">🤒</span>Kama unapata homa, unakohoa na unapumua kwa shida, wahi mapema kupata huduma ya afya - lakini piga kwanza simu</h3>
    <p class="swahili"></p>
    <h3 class="h-indent english"><span class="emoji">ℹ️</span>Stay aware of the latest information from WHO and your local authorities</h3>
    <h3 class="h-indent swahili"><span class="emoji">ℹ️</span>Fuatilia taarifa mpya zinazotolewa na Shirika la Afya Duniani (WHO) na mamlaka husika karibu nawe</h3>
    <p class="swahili"></p>
    </section>
    <section class="countrydata">
        <table id="countries" class="countries">
            <thead>
                <tr>
                    <th>Country,<br>Other</th>
                    <th>Total<br>Cases</th>
                    <th>New<br>Cases</th>
                    <th>Total<br>Deaths</th>
                    <th>New<br>Deaths</th>
                    <th>Total<br>Recovered</th>
                    <th>Active<br>Cases</th>
                    <th>Serious,<br>Critical</th>
                    <th>Total Cases/<br>1M pop</th>
                    <th>Total Deaths/<br>1M pop</th>
                    <th>First<br>Case</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>TOTAL (Global): </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </section>
    </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}
    <div class="settings"></div>
    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>
    <script>
        var cases = "https://thedextazlab.herokuapp.com/users/1/web_requests/79/covid19.json";
        var countries = "https://thedextazlab.herokuapp.com/users/1/web_requests/85/covid19.json";
        var cData = {"data": [{}]};
        var dTable = "";
        function getCountries() {
            cData.data.length = 0;
            $.getJSON(countries, function(data) {
                for(i = 0; i < data.items[0].country.length; i++) {
                    cData.data.push({"country" : data.items[0].country[i], "total_cases" : data.items[0].total_cases[i], "new_cases": data.items[0].new_cases[i], "total_deaths": data.items[0].total_deaths[i], "new_deaths": data.items[0].new_deaths[i], "total_recovered": data.items[0].total_recovered[i], "active_cases": data.items[0].active_cases[i], "critical": data.items[0].critical[i], "cases_mil": data.items[0].cases_mil[i], "deaths_mil": data.items[0].deaths_mil[i], "first_case": data.items[0].first_case[i]});
                }
                
                return cData.data;
            
            });
        }

        function loadTable() {
        if ( $.fn.DataTable.isDataTable('#countries') ) {
            dTable.clear().rows.add(cData.data).draw().columns.adjust();
        } else {
        dTable = $('#countries').DataTable( {
            
            fixedHeader: {
                header: true,
                footer: false
            },
            responsive: true,
            language: {
            search: "_INPUT_",
            searchPlaceholder: "Search..."
            },
            info: false,
            paging: false,
            deferRender: true,
            "createdRow": function( row, data, dataIndex){
                        if( data.new_cases !== ""){
                            $('td', row).eq(2).addClass('yellowClass');
                        }
                        if( data.new_deaths !== ""){
                            $('td', row).eq(4).addClass('redClass');
                        }
                    },
            
            order: [1,"desc"],
            "scrollCollapse": true,
            "scrollX": true,
            data: getCountries(),
            "columns" : [
                {"data" : "country"},
                {"data": "total_cases"},
                {"data": "new_cases"},
                {"data": "total_deaths"},
                {"data": "new_deaths"},
                {"data": "total_recovered"},
                {"data": "active_cases"},
                {"data": "critical"},
                {"data": "cases_mil"},
                {"data": "deaths_mil"},
                {"data": "first_case"}
            ],
            
            "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api();
        
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\+,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Get totals for each column
                    total_cases = api.column( 1 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );
                    new_cases = api.column( 2 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );
                    total_deaths = api.column( 3 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );          
                    new_deaths = api.column( 4 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );                
                    total_recovered = api.column( 5 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );                 
                    active_cases = api.column( 6 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );
                    critical = api.column( 7 ).data().reduce( function (a, b) {return intVal(a) + intVal(b);}, 0 );
                    // Update footer
                    $( api.column( 1 ).footer() ).html(total_cases.toLocaleString("en-US"));
                    $( api.column( 2 ).footer() ).html("+"+new_cases.toLocaleString("en-US")).addClass("yellowClass");
                    $( api.column( 3 ).footer() ).html(total_deaths.toLocaleString("en-US"));
                    $( api.column( 4 ).footer() ).html("+"+new_deaths.toLocaleString("en-US")).addClass("redClass");
                    $( api.column( 5 ).footer() ).html(total_recovered.toLocaleString("en-US"));
                    $( api.column( 6 ).footer() ).html(active_cases.toLocaleString("en-US"));
                    $( api.column( 7 ).footer() ).html(critical.toLocaleString("en-US"));
                }

            
            });
            }
        }
       
        function fetchDATA (){
            $('updates').removeClass("show").fadeOut(200, function() {
                $('.loader').removeClass("loaded").fadeIn(200);
            });
            loadTable();
            $.getJSON(cases, function(data) {
                    $('.cuCases').html(data.items[0].cases);
                    $('.cuDead').html(data.items[0].dead);
                    $('.cuRecovered').html(data.items[0].recovered);
                    $('.cuUpdated').html(data.items[0].updated);
                    $('.loader').addClass("loaded").fadeOut(200, function() {
                    $('updates').fadeIn(500).addClass("show");
                    });
                    

            });
           
        }
        function updateDATA() {
            loadTable();
            $.getJSON(cases, function(data) {
                    $('.cuCases').html(data.items[0].cases);
                    $('.cuDead').html(data.items[0].dead);
                    $('.cuRecovered').html(data.items[0].recovered);
                    $('.cuUpdated').html(data.items[0].updated);
                    $('.spinner').removeClass('fa-spin');
            });
                       
        }
        function switchLang(swahili) {
            if (swahili == true) {
                $('.CovidUpdates > li:nth-child(1) .cuLabel').html("JUMLA YA WAGONJWA:");
                $('.CovidUpdates > li:nth-child(2) .cuLabel').html("WALIOKUFA:");
                $('.CovidUpdates > li:nth-child(3) .cuLabel').html("WALIOPONA:");
                $('.cuTitle').html("Taarifa za COVID-19");
                $('.swahili').show();
                $('.english').hide();
                $('.lang').html('<span class="flag-icon-background flag-icon-us flag-icon-squared"></span>');
            } else {
                $('.CovidUpdates > li:nth-child(1) .cuLabel').html("TOTAL CASES:");
                $('.CovidUpdates > li:nth-child(2) .cuLabel').html("DEAD:");
                $('.CovidUpdates > li:nth-child(3) .cuLabel').html("RECOVERED:");
                $('.cuTitle').html("COVID-19 Updates");
                $('.swahili').hide();
                $('.english').show();
                $('.lang').html('<span class="flag-icon-background flag-icon-tz flag-icon-squared"></span>');
            }
        }
        $(document).ready(function(){
            $('.settings').appendTo('#footer footer');
            fetchDATA();
            var dataTimer = setInterval(function() {
                $('.spinner').addClass('fa-spin');
                updateDATA();
            }, 60 * 1000);
            if(Cookies.get('site_lang') == "swahili") {
                switchLang(true);
            }
            $('.cuInstructions').fadeIn();
            $('.toggles').addClass('show');
            $('.toggles, .scrollbutton').addClass('nohighlight');
            $('.lang').click(function(){
                if(Cookies.get('site_lang') == "swahili") {
                    Cookies.set('site_lang', 'english', { expires: 365 });
                    switchLang(false);
                } else {
                    Cookies.set('site_lang', 'swahili', { expires: 365 });
                    switchLang(true);
                }
            });
            $('.refresher').click(function() {
                $('.spinner').addClass('fa-spin');
                updateDATA();    
            });
            $('.darkswitch').click(function() {
                if($('.darkswitch-toggle').hasClass("fa-moon")) {
                    $('.darkswitch-toggle').removeClass("fa-moon").addClass("fa-sun");
                    $('body, #footer').addClass("darkmode");
                    Cookies.set('darkmode', 'true', { expires: 365 });
                } else {
                    $('.darkswitch-toggle').removeClass("fa-sun").addClass("fa-moon");
                    $('body, #footer').removeClass("darkmode");
                    Cookies.set('darkmode', 'false', { expires: 365 });
                }
            });
            $('.tableSwitch').click(function() {
                if($('.tableSwitch .set').hasClass("fa-th-list")) {
                    $('.tableSwitch .set').removeClass("fa-th-list").addClass("fa-th-large");
                } else {
                    $('.tableSwitch .set').removeClass("fa-th-large").addClass("fa-th-list");
                }
                if($('.countrydata').hasClass("show")) {
                    $('.cuInstructions').fadeIn(200);
                    $('.countrydata').removeClass("show").fadeOut(200, function(){
                        $('updates').fadeIn(500).addClass("show"); 
                        $('.fixedHeader-floating').remove();   
                    });

                } else {
                    $('.cuInstructions').fadeOut(200);
                    $('updates').removeClass("show").fadeOut(200, function() {
                    $('.countrydata').fadeIn(500, function(){
                        loadTable();
                    }).addClass("show");
                });
                }
            });
            $(window).scroll(function(){
                var fixed = $('.fixedHeader-floating').filter(function() {
                    return $(this).css('top').indexOf('0px') > -1
                })
                $('.fixedHeader-floating').removeClass("fixedMobile");
                $(fixed).addClass("fixedMobile");
                
            });
            $('body, #footer').css({"transition":"background 0.25s ease-in-out, color 0.25s ease-in-out"});
        });
    </script>
    {% include scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js" integrity="sha256-L4cf7m/cgC51e7BFPxQcKZcXryzSju7VYBKJLOKPHvQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js" crossorigin="anonymous"></script>
  </body>
</html>
