/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */

updates {
    display:none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding-top:20px;
    }
updates h2 {
    display: block;
}
updates subtitle {
    font-style: italic;
    left: 20px;
    top: -6px;
    position: relative;
    font-size: small;
    display: inline-block;
    @include breakpoint($mobile-max) {
        left:12px;
    }
}
.CovidUpdates {
    box-shadow: 0 0 24px rgba(0,0,0,.35) inset;
    background: #eee;
    margin: 0 auto;
    padding: 8px 4px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    @include breakpoint($mobile-max) {
        padding:4px;
        display:grid;
      }
}
.CovidUpdates li {
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border: 4px solid;
    padding: 14px 12px;
    margin: 0 1%;
    display: inline-grid;
    vertical-align: middle;
    list-style: none;
    text-align: center;
    width: 31.33%;
    @include breakpoint($mobile-max) {
        width: 98%;
        margin:1%;
      }
}
.CovidUpdates li:hover {
    opacity: .9;
}

.CovidUpdates li:nth-child(1) {
    color: #fff;
    border-color: #111;
    background: #222
}
.CovidUpdates li:nth-child(2) {
    border-color: #990000;
    color: #fff;
    background: #AA0000;
}
.CovidUpdates li:nth-child(3) {
    background: #007700;
    color: #fff;
    border-color: #006600;
}
.cuLabel {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: 4px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.cuCases, .cuDead, .cuRecovered {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}
.cuSource {
    font-weight:bold;
}
.translated {
    border-top: 1px solid rgba(0,90,0,0.2);
    font-style: italic;
    margin-left: 60px;
    margin-top: 0;
    color: #006600;
    padding-top: 8px;
}
.emoji {
    text-align: center;
    text-indent: 0;
    display: inline-block;
    width: 40px;
    margin-right: 8px;
}
.h-indent {
    text-indent: -50px;
    margin-top: 1.3em;
    padding-left: 44px;
}
.no-indent {
    margin-left: 0;
}
.loader {
    margin-top: 40px;
    font-size: 28px;
    display: block;
    text-align: center;
    padding: 24px 0px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.show {
    opacity: 1!important;
    transition-delay: 0.5s;
    transition: opacity 1s ease-in-out;
}
.loaded {
    opacity:0;
    transition: opacity 1s ease-in-out;
}
.scrollbutton {
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    padding: 2px;
    line-height: 0;
    background: rgba(0,0,0,.75);
    color: #fff;
    cursor: pointer;
    font-size: 44px;
    display: none;
    position: fixed;
    bottom: 3px;
    right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    z-index:99;
}
.scrollbutton:hover {
    background: rgba(50,50,50,.5);
}

.greedy-nav a {color:#fff!important}
.greedy-nav {background: transparent!important}
.masthead {
    background: #000;
    border-bottom:0;
    @include breakpoint($mobile-max) {
            top: 0;
            box-shadow: 0 0 12px rgba(0,0,0,.5);
            border-bottom: 0;
            width: 100%;
            margin-bottom: 40px;
            position: fixed;
      }
}
body {
    @include breakpoint($mobile-max) {
        top: 64px;
        position: absolute;
        width: 100%;
    } 
}

.greedy-nav .visible-links {
    height:0px;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
}
.nav-fadeIn {
    height: unset!important;
    opacity: 1!important;
    transition: opacity 0.5s ease-in-out;
}
.greedy-nav .hidden-links a {
    color: #222!important;
}
.navicon:before, .navicon:after, .navicon {background:#eee}
.greedy-nav__toggle:hover .navicon, .greedy-nav__toggle:hover .navicon:before, .greedy-nav__toggle:hover .navicon:after {
    background: #aaa;
}
.greedy-nav__toggle:before {
    background: #000;
}
.cuInstructions p {
    padding-left: 60px;
}
.swahili {display:none;}
.toggles {
    opacity:0;
    border: 3px solid #000;
    transition: opacity 0.5s ease-in-out;
    font-size: 1.563em;
    bottom:4px;
    z-index: 21;
    left:8px;
    position: fixed;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    display: flex;
    border-radius: 28px;
    padding: 4px 0px 4px 12px;
    background: #ccc;
    @include breakpoint($mobile-max) {
        bottom:8px;
      }
}
.lang {
    height: 36px;
    overflow: hidden;
    border: 2px solid #222;
    border-radius: 50px;
    width: 36px;
    vertical-align: top;
    display: grid;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    @include breakpoint($mobile-max) {
        width: 26px;
        height: 26px;
      }
}
.darkswitch {
    margin-left: -11px;
}
.tableSwitch {
    margin-right:-4px;
}
.refresher, .darkswitch, .tableSwitch {
    color: #222;
    cursor: pointer;
    font-size: .25em;
}
.refresher:hover, .darkswitch:hover, .tableSwitch:hover {
        color: #777;
}
.refresher:visited, .darkswitch:visited, .tableSwitch:visited {
        color: #222;
}

.cuInstructions {
    display:none;
}
.cuInstructions h1 {
    padding-top: 20px;
}
.wide-single {
    width: 100%;
}
updates note {
    opacity:0.75;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
    display: block;
}

.darkmode {
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
    background: #000;
    color: #fff;
}
.flag-icon-background {
    box-shadow: 0 0 12px rgba(0,0,0,.5) inset;
}
.hide {display:none!important}

.tv {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    display: flex;
}

.tv > updates {
    flex-direction: column;
    display: flex!important;
    flex-grow: 1;
}

.tv ul {
    margin: 8% 0;
    flex-grow: 1;
}

.tv .cuLabel {
    font-size: 40px;
    margin-top: auto;
}
.tv .cuCases, .tv .cuDead, .tv .cuRecovered {
    font-size: 64px;
    flex-grow: 1;
    margin-bottom: auto;
}

.tv h1 {
    padding-top: 2%;
}
.tv .darkswitch {
    display: none;
}
.tv .lang {
    margin-left: -7px;
}

.tv note {
    position: relative;
    bottom: 20px;
}
.reset {
    top: unset;
    position: unset;
}
.countrydata {
    display:none;
    margin-top:60px;
}
.countrydata .odd {
    background: #fafafa;
}
#countries tbody > tr > td:nth-child(1) {
    font-weight: bold;
}
.redClass {
    color:#fff;
    background:red;
  }
  .yellowClass {
    color:#222;
    background:yellow;
  }
.darkmode tr, .darkmode thead {background:transparent!important}
.countrydata td:nth-child(n+2) {text-align:right}
.countries tfoot th{text-align:right;}

.countrydata td:nth-child(2n+2) {
    background:#f9f9f9;
}

.darkmode .countrydata td:nth-child(2n+2) {
    background:#111;
}


.darkmode tfoot, .darkmode thead {background:transparent!important}

.darkmode .countries {
    background: #000;
}
.fixedMobile {
    background:#f2f3f3!important;
    @include breakpoint($mobile-max) {
        left:0!important;
        right:0!important;
        background:#f2f3f3!important;
        padding-top: 60px!important;
      }
    
}
.darkmode .fixedMobile {
    background:#000!important;
    @include breakpoint($mobile-max) {
        left:0!important;
        right:0!important;
        background:#000!important;
        padding-top: 60px!important;
      }
    
}
.layout--covid19 #footer {
    padding-bottom: 40px;
}
.settings {
    border-top: 2px solid #000;
    z-index: 1;
    background: #000;
    height: 60px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

.nohighlight {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    }