/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */

updates {
    display:none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-top:20px;
    }
updates h2 {
    display: block;
}
updates subtitle {
    font-style: italic;
    left: 20px;
    top: -6px;
    position: relative;
    font-size: small;
    display: inline-block;
    @include breakpoint($mobile-max) {
        left:12px;
    }
}
.CovidUpdates {
    box-shadow: 0 0 24px rgba(0,0,0,.35) inset;
    background: #eee;
    margin: 0 auto;
    padding: 8px 4px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    @include breakpoint($mobile-max) {
        padding:4px;
        display:grid;
      }
}
.CovidUpdates li {
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border: 4px solid;
    padding: 14px 12px;
    margin: 0 1%;
    display: inline-grid;
    vertical-align: middle;
    list-style: none;
    text-align: center;
    width: 31.33%;
    @include breakpoint($mobile-max) {
        width: 98%;
        margin:1%;
      }
}

.CovidUpdates li:nth-child(1) {
    color: #fff;
    border-color: #111;
    background: #222
}
.CovidUpdates li:nth-child(2) {
    border-color: #990000;
    color: #fff;
    background: #AA0000;
}
.CovidUpdates li:nth-child(3) {
    background: #007700;
    color: #fff;
    border-color: #006600;
}
.cuLabel {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: 4px;
    font-size: smaller;
    text-transform: uppercase;
    font-weight: 100;
}
.cuCases, .cuDead, .cuRecovered {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}
.cuSource {
    font-weight:bold;
}
.translated {
    border-top: 1px solid rgba(0,90,0,0.2);
    font-style: italic;
    margin-left: 60px;
    margin-top: 0;
    color: #006600;
    padding-top: 8px;
}
.emoji {
    left: -52px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.25) inset;
    text-indent: 0;
    font-size: 16px;
    height: 40px;
    border-radius: 50px;
    background: #eee;
    text-align: center;
    padding: 8px;
    width: 40px;
    display: block;
    margin-bottom: -40px;
}
.h-indent {
    padding-left: 56px;
}
.no-indent {
    margin-left: 0;
}
.loader {
    margin-top: 40px;
    font-size: 28px;
    display: block;
    text-align: center;
    padding: 24px 0px;
}
.show {
    opacity: 1;
    transition-delay: 0.5s;
    transition: opacity 0.5s ease-in-out;
}
.loaded {
    opacity:0;
    transition: opacity 0.5s ease-in-out;
}
.scrollbutton {
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    padding: 2px;
    line-height: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
    font-size: 56px;
    display: none;
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    z-index:99;
}
.scrollbutton:hover {
    background: rgba(50,50,50,.5);
}

.greedy-nav a {color:#fff!important}
.greedy-nav {background: transparent!important}
.masthead {
    background: #222;
}